//---------------------------------------------------------//
// Info Panel
//---------------------------------------------------------// 

.info-panel {

}

.info-list {
	font-weight: 500;
	padding-top: rem(5);
	margin-bottom: rem(-5);
	li {
		float: left;
		margin-right: 5px;
		margin-bottom: rem(5);
	}
	a {
		color: #ffffff;
	}
	.icon {
		margin-right: rem(5);
	}
}