//---------------------------------------------------------//
// Project Listing
//---------------------------------------------------------// 

.project-listing-page {
	.main {
		background: url(../images/spacer.jpg) 0 0 no-repeat;
	}
}


.project-container {
   background: url(../images/marble-bg1.jpg); 
   padding-top: 7em; 
   padding-bottom: 5em;
   .search-item-num {
      color: #fff !important;
      font-size: 16px;
   }
}