//---------------------------------------------------------//
// Badges
//---------------------------------------------------------// 


.badge {
	background-color: #ed8d8d;
	border-radius: rem(4);
	display: inline-block;
	vertical-align: top;
	padding: rem(1 3);
	font-size: rem(10);
	color: #ffffff;
	margin-left: rem(10);
	line-height: 1.2;
}
